const featureData = {
    emails: {
        icon: "fas fa-envelope fa-2x",
        title: "Emails",
        details: [
            "Send transactional emails",
            "Send automatic verification emails to users",
        ],
        timeSaved: 3,
        link: {
            url: "https://docs.allauth.org/en/latest/introduction/index.html",
            text: "SMTP Configuration + django-allauth"
        }
    },
    payments: {
        icon: "fas fa-credit-card fa-2x",
        title: "Payments",
        details: [
            "Process payments quickly and securely",
            "Create checkout sessions",
            "Handle webhooks to update user's account (subscriptions, one-time payments...)"
        ],
        timeSaved: 5,
        link: {
            url: "https://stripe.com/",
            text: "Stripe"
        }
    },
    login: {
        icon: "fas fa-sign-in-alt fa-2x",
        title: "Login",
        details: [
            "Secure user authentication and registration",
            "OAuth support for Google and GitHub",
            "Styling and customization already done for you",
            "Private pages only for authenticated users"
        ],
        timeSaved: 4,
        link: {
            url: "https://docs.allauth.org/en/latest/introduction/index.html",
            text: "django-allauth"
        }
    },
    security: {
        icon: "fas fa-shield-alt fa-2x",
        title: "Security",
        details: [
            "Pre-configured security settings",
            "Pre-configured CORS settings",
            "Pre-configured CSRF settings",
            "Prevention against brute force attacks"
        ],
        timeSaved: 3,
        link: {
            url: "https://django-axes.readthedocs.io/en/latest/index.html",
            text: "django-axes"
        }
    },
    tailwind: {
        icon: "fas fa-palette fa-2x",
        title: "Tailwind",
        details: [
            "Pre-configured Tailwind CSS",
            "Modern and flexible UI development",
            "Run scripts to automatically compile CSS"
        ],
        timeSaved: 2,
        link: {
            url: "https://tailwindcss.com/",
            text: "django-tailwind"
        }
    },
    style: {
        icon: "fas fa-paint-brush fa-2x",
        title: "Style",
        details: [
            "Modern and flexible UI development",
            "Pre-designed themes and templates",
            "Customizable components"
        ],
        timeSaved: 2
    },
    more: {
        icon: "fas fa-ellipsis-h fa-2x",
        title: "More",
        details: [
            "Additional features and integrations",
            "TOS, Privacy Policy & License template pages",
            "Generate documentation pages from markdown files",
            "Continuous updates and improvements",
            "GPT copilot for help with the development with djast",
            "24/7 customer support",
        ],
        timeSaved: 8
    }
};